{% extends "web/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col m-2">
            <p class="h2 text-center">
                Quienes somos Jaguarete KAA S.A
            </p>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12 m-auto">
            <img src="../../../media/imagenes/acerca_de.jpg" class="img-thumbnail p-2 m-2" alt="acerca de">
        </div>
        <div class="col-lg-6 col-sm-12 m-auto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod adipisci dolore repudiandae deserunt ullam facere sunt rem quam, pariatur ipsum iusto odit repellat fuga quibusdam. 
                Itaque consectetur dignissimos commodi aut.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officia ipsa consectetur minima accusamus quod nihil quidem quaerat eveniet qui obcaecati eius cupiditate, porro sit similique mollitia vero facere necessitatibus.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi debitis quod odit quidem dolorem rerum ad nemo. Sunt, et harum ipsa tempora deserunt suscipit minima voluptatem possimus cum tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempora vitae quae voluptate maxime voluptatum, aspernatur, eveniet quasi blanditiis perferendis accusamus labore quidem a optio.
            </p>
    </div>
</div>
{% endblock %}