{% extends "web/layout.html" %}

{% block content %}

<div>
    <h2>{{ mensaje }}</h2>
    
    {% if lista_carrito %}
    
        {% for producto in lista_carrito %}
            <ul>
                <li>{{ producto.titulo }}<a role="button" class="btn btn-outline-success btn-sm" href="{% url 'SITIO:carrito_eliminar' producto.id %}">X</a></li>
            </ul>
        {% endfor %}
    <a role="button" class="btn btn-success btn-sm" href="{% url 'SITIO:carrito_eliminar' %}">VACIAR CARRO</a>
    <a role="button" class="btn btn-success btn-sm" href="{% url 'SITIO:index' %}">HOME</a>
    {% else %}
    <a role="button" class="btn btn-success btn-sm" href="{% url 'SITIO:index' %}">HOME</a>

    {% endif %}
    
</div>

{% endblock %}

<h1>{{ variable }}</h1>