{% extends "web/layout.html" %}
{% block content %}
<!-- <h1>contenido del index</h1> -->
<div class="row">
{% for producto in lista_productos_imagenes %}

    <div class="col-md-4">

        <div class="card" style="width: 100%; margin: 5px;">
            <img src="{{producto.imagen.url}}" class="card-img-top">
            <div class="card-body" style="text-align: center;">
                {% if perms.SITIO.change_producto %}
                    <a role="button" class="btn btn-success btn-sm" href="{% url 'SITIO:producto_editar' producto.id %}">VER PRODUCTO</a>
                {% else %}
                    <a role="button" class="btn btn-success btn-sm" href="{% url 'SITIO:producto' producto.id %}">VER PRODUCTO</a>
                {% endif %}
            </div>
        </div>

    </div>

{% endfor %}
</div>
<br><br>

<div style="text-align: center;">
    <h2>MAS PRODUCTOS</h2>
</div>
<br><br>

<ul>
    {% for producto in lista_productos %}
        <li>              
            {% if perms.SITIO.change_producto %}
                <a href="{% url 'SITIO:producto_editar' producto.id %}">
                    {{producto.titulo}} 
                </a>
            {% else %}
                <a href="{% url 'SITIO:producto' producto.id %}">
                    {{producto.titulo}} 
                </a>
            {% endif %}
            
            {{producto.descripcion_producto}}
            <br><br>
        </li>
    
    {% endfor %}
</ul>

{% endblock %}