{% extends "web/layout.html" %}
{% block content %}
<!-- <h1>contenido del index</h1> -->
<div class="row">
{% for producto in lista_productos %}

    <div class="col-md-2">

        <div class="card" style="width: 100%; margin: 5px;">
            <img src="{{producto.imagen.url}}" class="card-img-top">
            <div class="card-body" style="text-align: center;">
                <a role="button" class="btn btn-success btn-sm" href="">VER</a>
            </div>
        </div>

    </div>

{% endfor %}
</div>
{% endblock %}